/* Main CSS */
body {
    background-color: #FEF1E0; /* Palette: http://www.colourlovers.com/palette/71772/Calligraphy */
}

@font-face {
    font-family: LeagueScript;
    src: url('../media/fonts/LeagueScriptNumberOne.ttf');
} 

@font-face {
    font-family: Prociono;
    src: url('../media/fonts/Prociono-Regular.ttf');
}

/*Navigation Bar */
#nav-bar {
    height: 100px;
}

#nav-bar p {
    font-family: sans-serif;
    font-size: 15px;
    margin-left: 15px;
}

#nav-bar li {
    display: inline;

}

#nav-bar a.home {
    font-family: LeagueScript;
    font-size: 14px;
    color:  #FEF1E0;
    text-decoration: none;
    position: relative;
    bottom: 12px;
    left: 27px;
}

/* Generator */
#generator-wrap {
    max-width: 45%;
    margin-left: auto; margin-right: auto;
    margin-top: 20px;
}

#generator-wrap h1 {
    color: #3F0632; 
    font-family: Prociono;
    font-size: 75px;
    text-shadow: 0px 2px 2px #A47F1A;
    letter-spacing: 5px;
    margin: 0px; 
    padding: 0px 55px 0px 0px;
    position: relative;
    float: left;
}